.pokemon-card__container {
    display: inline-flex;
    align-content: center;
    align-items: baseline;
    padding: 12px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pokedex__main-container {
    margin-left: 8%;
}