.pokemon-card__container {
    display: inline-flex;
    align-content: center;
    align-items: baseline;
    padding: 12px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pokedex__main-container {
    margin-left: 8%;
}

.pokedexe__search-bar {
    width: 800px;
    position: relative;
    margin-left: 20%;
    margin-top: 2%;
}

.form-control:focus {
    border: 2px solid #E73434;
    box-shadow: none;
    transition: 2ms;
}

.pokedex__no-pokemon-found {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 12%;
    margin-right: 17%;
    flex-direction: column;
    align-items: center;
}

.pokedex__error-code {
    font-size: xxx-large;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.pokedex__logo {
    width: 50px;
    height: 50px;
}

