.info-card {
    &__container {
        position: relative;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;
        background: #FFF;
        border-radius: 20px;
        box-shadow: 10px 10px 60px #E9E8E7;
        flex: 0 0 300px;
        text-align: center;
    }

    &__header {
        position: relative;
    }

    &__card {
        width: 275px;
        height: 240px;
        padding: 5px;
        margin: 5px;
    }

    &__pokemon-id {
        color: #E9E8E7;
        font-size: 100px;
        font-weight: 600;
    }

    &__pokemon-sprite {
        position: absolute;
        left: 50%;
        top: 53%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    &__pokemon-name {
        font-size: 20px;
        font-weight: 700;
        margin-top: -11%;
        padding: 5px;
        text-transform: capitalize;
    }

    &__pokemon-sprite__img {
        display: block;
        max-width: 100%;
    }

    &__pokemon-height {
        position: absolute;
        top: -4%;
        left: -5%;
        width: 60px;
        font-size: 15px;
        font-weight: 600;
        line-height: 60px;
        background-color: #FFF;
        border-radius: 40px;
        box-shadow: 10px 10px 60px #E9E8E7;
    }

    &__pokemon-weigth {
        position: absolute;
        top: 76%;
        left: 86%;
        width: 60px;
        font-size: 14px;
        font-weight: 600;
        line-height: 60px;
        background-color: #FFF;
        border-radius: 40px;
        box-shadow: 10px 10px 60px #E9E8E7;
    }

    &__pokemon-abilities {
        text-transform: capitalize;
        color: #525150;
        font-weight: 500;
    }

    &__btn-modal-trigger {
        background-color: #E73434;
        color: #F2F2F2;
        border-radius: 9px;
        margin-top: 3%;
    
        &:hover {
            background-color: transparent;
            color: #E73434;;
            border-color: 1px solid #E73434;
            border-radius: 14px;
            transition: 0.3s;
        }
    }

    &__modal-name {
        text-transform: capitalize;
        margin-right: 3%;
    }    
}

.hidden_ability {
    color: #E73434;
    font-style: italic;
    font-weight: 500;
}

.show-details {
    &__container {
        background-color: #F3F3F3;
    }

    &__general-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        align-content: center;
        width: 1060px;
        margin: {
            left: 3%;
            right: 3%;
            top: 2%;
        };
    }

    &__pokemon-form {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__stat-card {
        background-color: #FFF;
        padding: 16px;
        border-radius: 15px;
        margin-top: 16%;
    }

    &__pokemon-sprite {
        display: flex;
        justify-content: center;
        margin-left: -1%;
        margin-top: 5%;
        align-items: center;
    }

    &__sprite {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
        width: 150px;
        height: 120px;
        margin-right: 20%;
        background-color: #FFF;
        border-radius: 15px;

        &-shiny {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            align-content: center;
            width: 150px;
            height: 120px;
            background-color: #FFF;
            border-radius: 15px;
            border: 2px solid #E73434;
        }
    }

    &__pokemon-entries {
        width: 372px;
        margin: {
            top: 6%;
            left: 10%;
            bottom: -6%;
        };
        background-color: #FFF;
        padding: 11px;
        border-radius: 15px;
    }

    &__evolution__container {
        padding: 12px;
        margin: {
            top: 6%;
            left: 24%;
            right: 24%;
            bottom: 2%;
        };
        background-color: #FFF;
        border-radius: 15px;
    }
}