.move-card__container {
    width: 485px;
    height: 600px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #FFF;
    border-radius: 9px;
}

.moves-card__content {
    height: 104px;
    margin: 2%;
    background-color: #FFF;
    padding-top: 28px;
    width: 469px;
    border-bottom: 1px solid #C9C9C9;
}

.move-card__title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 30px;
    background-color: #d0e3ff;
    position: fixed;
    width: 467px;
    border-radius: 9px 0px 0px 0px;
}

.move-card__title__content {
    margin-left: 1%;
    display: contents;

}

.move-card__detail-title {
    width: 80px;
}

.move-title {
    width: 102px;
}

.move-card__move {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 15px;
    width: 467px;
    border-radius: 9px 0px 0px 0px;
}

.move-card__move-detais {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 4%;
}

.move-card__move-name {
    text-transform: capitalize;
    width: 120px;
}

.move-card__move-power {
    width: 100px;
}

.move-card__move-accuracy {
    width: 100px;
}

.move-card__move-pp {
    width: 100px;
}

.move-card__move-type {
    border-radius: 5px;
    width: 110px;
    height: 26px;
    font-weight: 300;
}

.move-card__move-damage-class {
    border-radius: 5px;
    width: 90px;
    height: 26px;
    font-style: italic;
    font-weight: 300;
}

/*Damage Class*/

.special {
    background-color: #5872c5;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.physical {
    background-color: #e0453d;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.status {
    background-color: #a1a1a1;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/*Types*/

.normal {
    background-color: #BDAB8B;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.fighting {
    background-color: #c23a33;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.flying {
    background-color: #9097ee;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.poison {
    background-color: #A035A0;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.ground {
    background-color: #c79538;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.rock {
    background-color: #b3971d;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.bug {
    background-color: #a1bd27;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.ghost {
    background-color: #6237a7;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.steel {
    background-color: #78a0af;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.fire {
    background-color: #f7621e;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.water {
    background-color: #5787F7;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.grass {
    background-color: #32af38;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.electric {
    background-color: #f0bf20;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.psychic {
    background-color: #f0347c;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.ice {
    background-color: #51C2C2;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.dragon {
    background-color: #5544f0;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.dark {
    background-color: #423D39;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.fairy {
    background-color: #EE92D5;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

:-webkit-scrollbar {
    width: 9px;
}
  
  /* Track */
:-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
:-webkit-scrollbar-thumb {
    background: #E73434; 
    border-radius: 5px;
}