.stats-card__stat {
    text-transform: capitalize;
    margin: 2px;
    padding: 4px;
}

.stats-card__base-stat {
    text-transform: capitalize;
    margin: 3px;
    margin-right: 2px;
    padding: 4px;
}

.stats-card__stat-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.stat-card__quality-bar__container {
    padding: 2px;
}

.stas-card__quality-bar {
    background-color: #ebebeb;
    width: 275px;
    border-radius: 3PX;
}

.stas-card__quality-bar__very-low {
    border-radius: 3px;
    height: 8px;
    background-color: #FD3917;
}

.stas-card__quality-bar__low {
    border-radius: 3px;
    height: 8px;
    background-color: #FFA825;
}

.stas-card__quality-bar__normal {
    border-radius: 3px;
    height: 8px;
    background-color: #F8D228;
}

.stas-card__quality-bar__great {
    border-radius: 3px;
    height: 8px;
    background-color: #38D345;
}

.stas-card__quality-bar__excellent {
    border-radius: 3px;
    height: 8px;
    background-color: #42ADF5;
}