@keyframes grow {
    from {
      width: 0%;
    }
}

.stats-card {
    &__stat {
        text-transform: capitalize;
        margin: 2px;
        padding: 4px;

        @media only screen and (max-width: 1025px) {
            margin: -1px;
            padding: -2px;
        }
    }
    
    &__base-stat {
        text-transform: capitalize;
        margin: 3px;
        margin-right: 2px;
        padding: 4px;
    }

    &__stat-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        @media only screen and (max-width: 1025px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-content: center;
            margin-bottom: 5%;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: 1025px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-content: center;
            margin-bottom: 5%;
        }
    }
}

.stas-card__quality-bar {
    background-color: #dfdfdf;
    width: 275px;
    border-radius: 3PX;

    &__container {
        padding: 2px;
    }

    &__very-low {
        border-radius: 3px;
        height: 8px;
        background-color: #FD3917;
        background-image: -webkit-linear-gradient(20deg,hsla(0,0%,100%,.2),hsla(0,0%,100%,0));
        background-image:  linear-gradient(21deg,hsla(0,0%,100%,.2),hsla(0,0%,100%,0));
    }

    &__low {
        border-radius: 3px;
        height: 8px;
        background-color: #FDA116;
        background-image: -webkit-linear-gradient(20deg,hsla(0,0%,100%,.2),hsla(0,0%,100%,0));
        background-image:  linear-gradient(21deg,hsla(0,0%,100%,.2),hsla(0,0%,100%,0));
    }

    &__normal {
        border-radius: 3px;
        height: 8px;
        background-color: #F0C818;
        background-image: -webkit-linear-gradient(20deg,hsla(0,0%,100%,.2),hsla(0,0%,100%,0));
        background-image:  linear-gradient(21deg,hsla(0,0%,100%,.2),hsla(0,0%,100%,0));
    }

    &__great {
        border-radius: 3px;
        height: 8px;
        background-color: #1ECF2D;
        background-image: -webkit-linear-gradient(20deg,hsla(0,0%,100%,.2),hsla(0,0%,100%,0));
        background-image:  linear-gradient(21deg,hsla(0,0%,100%,.2),hsla(0,0%,100%,0));
    }

    &__excellent {
        border-radius: 3px;
        height: 8px;
        background-color: #289CE9;
        background-image: -webkit-linear-gradient(20deg,hsla(0,0%,100%,.2),hsla(0,0%,100%,0));
        background-image:  linear-gradient(21deg,hsla(0,0%,100%,.2),hsla(0,0%,100%,0));
    }

    @media only screen and (max-width: 768px) {
        &__quality-bar {
            width: 100%;
        }
    }
}