.evolution-card {
    align-items: center;
    display: flex;
    flex: 2 0;
    justify-content: center;

    &__step {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;

        &:not(:only-child) {
            margin: {
                bottom: 10%;
                top: 10%; 
            } 
        } 
    }

    &__group > .evolution-card__step {
        &:nth-child(3) > .evolution-card__arrow {
            transform: rotate(-5deg); 
        }

        &:nth-last-child(3) > .evolution-card__arrow {
            transform: rotate(5deg); 
        }

        &:nth-child(2) > .evolution-card__arrow {
            transform: rotate(-20deg); 
        }

        &:nth-last-child(2) > .evolution-card__arrow {
            transform: rotate(20deg); 
        }

        &:first-child > .evolution-card__arrow {
            transform: rotate(-35deg); 
        }

        &:last-child > .evolution-card__arrow {
            transform: rotate(35deg);  
        }

        &:only-child > .evolution-card__arrow,
        &:nth-child(2):nth-last-child(2) > .evolution-card__arrow,
        &:nth-child(3):nth-last-child(3) > .evolution-card__arrow {
            transform: none; 
        } 
    }

    &__arrow {
        margin-right: 4%;
        width: 26px; 
    }

    &__group {
        margin-left: 2%;
    }

    &__evolution-header {
        position: relative;
    }

    &__name {
        font-weight: bold;
        text-transform: capitalize;
        padding: 4px;
        margin-top: -5%;
    }

    &__id {
        font-weight: bold;
        padding: 3px;
        margin: {
            top: 2%;
            bottom: 2%;
        };
    }

    &__pokemon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 6px;
        width: 165px;
    }
}